html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  padding: .65rem;
  text-align: center;
}

.padding {
  padding-top: 1em;
}

.btn {
  text-decoration: none;
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .4em .75em .3em;
  margin: 0;
  font-size: 1.125rem;
  border-radius: 8px;
  border-width: 3px;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border-width: 3px;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border-width: 3px;
  border-style: solid;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border-width: 3px;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small:hover {
  background-color: #000;
}

.btn-alt:hover {
  background-color: #666;
}

.btn-alt-one:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-alt-two:hover {
  background-color: #933;
}

.btn-big:hover {
  background-color: #000;
}

.btn-one:hover {
  background-color: #666;
}

.btn-two:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-three:hover {
  background-color: #933;
}
